@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&display=swap');

.reservation-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 4em;
  overflow-y: scroll;
  height: 100vh;
}

.reservation-card {
  width: 60em;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
  margin: 2em;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5em;
  transition-property: transform;
  transition-duration: 0.1s;
  transition-timing-function: ease-in;
}

.reservation-card:hover {
  transform: scale(1.025);
  cursor: pointer;
  box-shadow: 1px 1px 8px 1px rgba(22, 65, 255, 0.3);
  border: 1px solid #060b26;
}